body {
    background: floralwhite;
    font-family: monospace;
}
.cardheader {
    text-align: center;
    padding: 3% 0 0 0;
}
.cards {
    margin: 2% auto;
    width: 300px;
    outline: 7px groove black;
    background: linear-gradient(
    to bottom,
    rgb(122, 160, 160),
    rgb(122, 160, 160) 50%,
    rgb(122, 160, 170) 50%,
    rgb(122, 160, 170)
    );
    background-size: 100% 20px;
}
.cards span {
    font-weight: bold;
}
.cards ul {
    list-style: none;
}
.cardattributes {
    padding: 1% 3% 1% 3%;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: content-box;
    border: 3px black solid;
}
.italicise {
    font-style: italic;
}